<table class="table table-hover">
  <thead>
    <tr>
      <th>商品名稱</th>
      <th>原價</th>
      <th>售價</th>
      <th>商品狀態</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.original_price %></td>
      <td><%= product.sell_price %></td>
      <td><%= I18n.t("product_state.#{product.state}") %></td>
    </tr>
    <% end %>
  </tbody>

</table>